//colors
$black: #000;
$white: #fff;

$gray-33: #333;
$gray-66: #666;
$gray-25: #252525;
$gray-eb: #ebecf1;
$gray-f0: #f0f0f3;
$gray-ab: #ababab;

$wine: #9d2746;

$blue-33: #3366cc;
$blue-64: #64768e;
$blue-6e: #6e8bba;
$blue-7d: #7dc0d1;

//size
$w-desktop: 1200px;
$w-tablet: 768px;
$w-mobile: 425px;

//width
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-w: 900;

//fonts
$f-bebas: "BebasNeue", sans-serif;
$f-roboto: "Roboto", sans-serif;
$f-rub: "ALSRubl";
