footer.footer
	._container.container
		._navigation
			nav.footer-navigation
				ul._column
					li._item
						a._link(href="#") Home
					li._item
						a._link(href="#") About Us
					li._item
						a._link(href="#") Download          
					li._item
						a._link(href="#") Pricing Plans   
				ul._column
					li._item
						a._link(href="#") Contact Us  
					li._item
						a._link(href="#") FAQ           
					li._item
						a._link(href="#") Terms and Conditions          
					li._item
						a._link(href="#") Privacy Policy
					li._item
						a._link(href="#") User Agreement

		a._logo(href="/") 
				img(src="images/logo.png" alt="logo")
		._copiright © 2019 Faceless.Me