footer.footer
	._container.container
		._navigation
			nav.footer-navigation
				ul._column
					li._item
						a._link(href="/") Home
					li._item
						a._link(href="about.html") About Us
					li._item
						a._link(href="download.html") Download          
					li._item
						a._link(href="pricing.html") Pricing Plans   
				ul._column
					li._item
						a._link(href="contacts.html") Contact Us  
					li._item
						a._link(href="faq.html") FAQ           
					li._item
						a._link(href="terms.html") Terms and Conditions          
					li._item
						a._link(href="privacy-policy.html") Privacy Policy
					li._item
						a._link(href="user-agreement.html") User Agreement

		a._logo(href="/") 
				img(src="images/logo.png" alt="logo")
		._copiright © 2019 Faceless.Me