header.header
    ._container.container
        .menu
            span
            span
            span
        ._login
            a.avatar( href="#" style="background-image:url('images/avatar.png')")