extends core/_template

append sharedVars
	- var activeMenu = 'Home';

block title
	title Home

block content
	.workarea
		.top-banner(style="background-image:url('images/banner.png')")
			div
				._title Surf the web 
				._subtitle Your trusted VPN provider
			._button
				button.button.button_wine Get VPN
		.matters-container
			.container
				.title What matters to you in web surfing?
			.matters-wrapper
				details._details 
					summary._summary Safe travel
					._more Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae aspernatur sint minima ut repellendus, inventore consectetur totam, dolorum nulla recusandae nesciunt provident animi debitis reiciendis repellat architecto blanditiis dolores.
				details._details
					summary._summary Data Protection
					._more Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae aspernatur sint minima ut repellendus, inventore consectetur totam, dolorum nulla recusandae nesciunt provident animi debitis reiciendis repellat architecto blanditiis dolores.
				details._details 
					summary._summary No restrictions
					._more Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae aspernatur sint minima ut repellendus, inventore consectetur totam, dolorum nulla recusandae nesciunt provident animi debitis reiciendis repellat architecto blanditiis dolores.
		.how-works-conatiner.container
			.title How VPN works?
			.how-works-wrapper
				._item
					._img
						img(src="images/hiw1.png", alt="")
					._description Data is transmitted from your client machine to a point in your VPN network.
				._item
					._img
						img(src="images/hiw2.png", alt="")
					._description The VPN point encrypts your data and sends it through the internet.
				._item
					._img
						img(src="images/hiw3.png", alt="")
					._description Another point in your VPN network decrypts your data and sends it to the appropriate internet resource.
		.benefits-container.container
			.title Explore the benefits of Faceless.Me Premium
			.benefits-card
				._header.-wine Free
				._body
					._description Free Version is limited in speed and available servers
					button.button.-wine Download
					ul._ul
						li._li.-included Anonymity onli._line
						li._li.-included Secure encrypted channel
						li._li.-included No logs kept
						li._li.-not-included Unimited Speed
						li._li.-not-included Switch between servers
					._table
						._table-row
							._table-col.-label Traffic
							._table-col.-value 2 Gb
						._table-row
							._table-col.-label Mobile traffic
							._table-col.-value 1 Gb

			.benefits-card
				._header.-blue Premium
				._body
					ul._ul
						li._li.-included Anonymity online
						li._li.-included Secure encrypted channel
						li._li.-included No logs kept
						li._li.-included Unimited Speed
						li._li.-included Switch between servers
			div

		.why-choose-container.container
			.title Why People Choose Faceless.me?
			._list
				._item
					._img(style="background-image:url('images/avatar.png')")
					._name Flint08
					._review.
						Excellent service! I'm addicted to Netflix, but it's not available in many European countries. Yet that is not a problem for me now, for when Faceless.Me VPN is turned on Netflix thinks I'm in US!
				._item
					._img(style="background-image:url('images/avatar.png')")
					._name Flint08
					._review.
						Excellent service! I'm addicted to Netflix, but it's not available in many European countries. Yet that is not a problem for me now, for when Faceless.Me VPN is turned on Netflix thinks I'm in US!
				._item
					._img(style="background-image:url('images/avatar.png')")
					._name Flint08
					._review.
						Excellent service! I'm addicted to Netflix, but it's not available in many European countries. Yet that is not a problem for me now, for when Faceless.Me VPN is turned on Netflix thinks I'm in US!

		.banners-block
			._banner
				img(src="images/logo1.png", alt="")
			._banner
				img(src="images/logo2.png", alt="")
			._banner
				img(src="images/logo3.png", alt="")
			._banner
				img(src="images/logo4.png", alt="")

		.apps-container.container
			.title Get Faceless.Me mobile apps
			._description Download our apps for iOS and Android platforms.
			a._button(href="#")
				img(src="images/AppStore.png", alt="")
			a._button(href="#")
				img(src="images/GoogleApp.png", alt="")


	//end workarea